aiohttp                      
aiosignal                     
annoy                        
anyio                        
async-timeout                
attrs                         
backoff                      
cachetools                    
certifi                       
charset-normalizer                           
click                         
colorama                      
coloredlogs                   
dataclasses-json             
dnspython                    
fastapi                       
filelock                      
flatbuffers                   
frozenlist                    
fsspec                        
google-api-core               
google-auth                  
google-cloud-aiplatform      
google-cloud-bigquery         
google-cloud-core             
google-cloud-language         
google-cloud-resource-manager 
google-cloud-storage          
google-crc32c                 
google-resumable-media        
googleapis-common-protos      
greenlet                     
grpc-google-iam-v1           
grpcio                        
grpcio-status                 
h11                           
httpcore                     
httptools                     
httpx                                       
humanfriendly                 
idna                          
importlib-resources           
Jinja2                        
joblib                       
langchain                    
langsmith                     
loguru                      
MarkupSafe                    
marshmallow                   
monotonic                    
mpmath                        
multidict                     
mypy-extensions              
nemoguardrails                
networkx                      
nltk                         
numexpr                       
numpy                        
onnxruntime                   
openai                        
openapi-schema-pydantic       
overrides                     
packaging                     
Pillow                        
pinecone-client              
pip                           
posthog                       
proto-plus                   
protobuf                     
pulsar-client                 
pyasn1                        
pyasn1-modules                
pydantic                     
PyPika                        
pyreadline3                   
python-dateutil              
python-dotenv                 
PyYAML                        
regex                         
requests                      
rfc3986                       
rsa                           
safetensors                  
scikit-learn                  
scipy                         
sentence-transformers         
sentencepiece                 
setuptools                    
Shapely                       
simpleeval                    
six                          
sniffio                                         
starlette                     
sympy                         
tenacity                      
threadpoolctl                 
tiktoken                     
tokenizers                    
torch                        
torchvision                   
tqdm                         
transformers                 
typer                       
typing_extensions            
typing-inspect               
urllib3                       
uvicorn                      
watchfiles                   
websockets                   
win32-setctime                